.login-main{
    background: linear-gradient(to right, #707cff 5%, #8224fe 100%);
    text-align: center;
}

.login-section{
    background-color: #ffffff;
    color:#000;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
}

#title-titulo-login{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.inputs{
    text-align: center;

    margin-top: 50px;
    display: grid;
}

#input{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #707cff;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;
    width: 300px;
    text-align: left;
}

#label{
    margin-bottom: 30px ;
}

#botao-form {
    background-color: #707cff;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
    padding: 5px 38px;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#botao-form:hover {
    background: #707cfb;
    background-color: #707cfb;
    transition-duration: 0.5s;
    transform: scale(1.1);

}

#redirecionar {
    background-color: #707cff;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
    padding: 5px 38px;
    text-decoration: none;
    border: none;
    margin-left: 10px;
}

#redirecionar:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}

@media screen and (max-width: 934px){
   .login-section {
    width: 100%;
    margin: 0;
   } 
}