@import "./reset.css";
@import "./header.css";
@import "./footer.css";

:root {
    --black: #000000;
    --background:#161b22;
    --white: #ffffff;
    --roxo: #8224fe;
    --azul: #707cfb;
    --rosa: #f952ff;
}
body{
    background: var(--background);
}

.principal{
    padding: 5%;
    background: var(--background);
    color: var(--white);
}
.container__principal {
    background: linear-gradient(to right, #707bff, #fa52ff);
    background-size: cover;
    padding: 10%;
    text-align: center;
    margin-top: 2rem;
    border-radius: 25px 25px 0px 0px;
}

#texto__sobrenos {
    font-weight: 600;
    font-size: 3rem;
    color: var(--branco);
    transition: 0.3s;
}

.container__secundario {
    background: var(--black);
    padding: 5% 5%;
    text-align: center;
}

#cahrity_closet {
    font-weight: 600;
    font-size: 2rem;
    color: var(--branco);
    text-align: left;
}

#texto {
    color: #fff;
    font-size: 1.5em;
    text-align: left;
}

.container__terceario{
    background: var(--black);
    padding: 5% 5%;

}

.textos4 {
    padding: 1% 1%;
}

@media screen and (max-width: 934px) {
    .principal {
        padding: 0;
        padding-top: 4rem;
    }
    
    .container__principal {
        width: 100%;
    }
}