#text-reclame{
    color: #000;
}

.main-user{
    background-color: #161b22;
    
}

#title-main {
    color: white;
    text-align: center;
    padding: 3.5%;
    font-size: 2.5em;
}

.category-management{
    color: aliceblue;
}



.container {
    display: grid;
    grid-template-columns: 5% 90%;
    
}

.controller-user {
    display: grid;
    align-items: center;
    border-radius: 100% ;
}

.label-user {
    display: grid;
    text-align: center;
}

.btn-user-ong    {
    border: transparent;
    background-color: transparent; 
    border-radius: 100% ;
}

.btn-user    {
    border: transparent;
    background-color: transparent; 
    border-radius: 100% ;
}

.icon-img-ativo{
    width: 4em;
    filter: invert(100%);
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 100% ;
    border-color: rgb(0, 0, 0);
}

span{
    color: white;
}

.Gerenciamento{
    display: none;
    width: 80%;
    justify-content: center;
    background-color: #fff;
    overflow-x: auto;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 5%;
}



.thead{
    font-weight: bold;
    margin-bottom: 5em;

}


.demo th {
    border:1px Nenhum #707bff;
    padding:1em;
    background:#fff;
    font-weight: bold;
    font-size: 1em;
}
.demo td {  
    border:1px Nenhum #707bff;
    padding: 1em;
    text-align: center;
}

select{
    background-color: #000;
    color:#fff;
    border-style: none;
    border-radius: 5px;
}

.icon-img-ativo:hover {
    border-color: #707bff;
}

.btn-user-escolha:active {
    transform: scale(0.95);
}

.fale-conosco{
    display: none;
    width: 30%;
    justify-content: center;
    background-color: #fff;
    overflow-x: auto;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 5%;
}

#selecao{
   
    width: 600px;
}
#selecao li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#selecao li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #707bff;
}

#selecao li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
}

#selecao label + input[type="radio"]{
    display: none;
}

#selecao .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#selecao label + input[type="radio"]:checked + .content{
    max-height: 400px;

}

@media (max-width:800px) {
    

    .container{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        gap: 3.5em;
    }

    .controller-user {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
    }
}