.background {
    background-color: #181818;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 500em;
    margin: 0 auto;
    padding: 10%;
}

.flex > div {
    flex: 1 1 300px;
    margin: 10px;
    height: 10em;
    width: 10em;
    background: #ffffff;
}