.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__geral {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

#descricao {
    font-size: 2.5rem;
}

.kk{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 1.5rem;
}

.lista__link {
    text-decoration: none;
    color: beige;
   
}

.lista__link:hover {
color: #8224fe;
transition-duration: 1s;
text-decoration: underline;
text-underline-offset: 10px;
}

.cabecalhos__integrantes {
  
}

