.login-main{
    background-color: #181818;
    text-align: center;
    padding-top: 10%;
}

.login-section{
    background-color: #fff;
    color:#000;
    margin-left: 20%;
    margin-right: 20%;

    padding-bottom: 30px;
    border-radius: 25px;
}

#imgongcapa{
    width: 100%;
    border-radius: 25px 25px 0px 0px ;
    filter: brightness(0.9);
}

#fotoong{
    width: 30%;
    border-radius: 100%;
    padding: 10px;
    background-color: #000;
    margin-top: -120px;
}

.conteudo-ong-perfil{
    margin-top: 3%;
}