main {
    background-color: #181818;
    padding: 5%;
}

.perfil{

    background-color: #fff;
    width: 95%;
    height: 100%;
    margin: 10%;
    margin-left: 10%;
    border-radius: 1.5rem;

}

.painel__perfil {
    background-color: #;
    width: 95%;
}
